@{
    Layout = "_Layout";
}


<div class="card mb-3" style="margin-top:50px">
    <img src="/img/variados.jpg" class="card-img-top" alt="..." style="width:700px">
    <div class="card-body">
        <h5 class="card-title">Bolo Diversos</h5>
        <p class="card-text">
            MODO DE PREPARPO:

            Massa:

            Bata os ovos com o açúcar, depois acrescente os secos aos poucos intercalando com os líquidos, por último adicione o fermento em pó. Mexa bem e coloque em uma forma untada e polvilhada com farinha de trigo. Leve para assarem forno pré aquecido a 170 graus por 40 minutos..
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<a class="btn btn-dark" asp-controller="Home" asp-action="Index" style="margin-top:20px">Voltar</a>